# Step 1 - Importing our data

In [8]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error, r2_score
import joblib

cities = ['2800', '2820', '2830', '2840', '2850', '2900', '2920', '2930', '2942', '2950', '3000', '3460']
dataframes = []

for city in cities:
    filename = f'./data/house_data/house_data_{city}.csv'
    df = pd.read_csv(filename)
    df["City"] = int(city)
    dataframes.append(df)
data = pd.concat(dataframes, ignore_index=True)

data.head(5)

,Address,X,Y,Price,Type,Size,Squaremeter price,Energy class,Url,City
0,"Nørgaardsvej 27, 2. th",55.770647,12.508193,1595000,Ejerlejlighed,44,36250,E,https://www.dingeo.dk/adresse/2800-kongens%20l...,2800
1,Gammelmosevej 218,55.756103,12.480264,4495000,Rækkehus,113,39778,C,https://www.dingeo.dk/adresse/2800-kongens%20l...,2800
2,Danmarksvej 43A,55.794678,12.517936,7695000,Villa,182,42280,D,https://www.dingeo.dk/adresse/2800-kongens%20l...,2800
3,Stengårdsvænge 103,55.759154,12.482144,5295000,Rækkehus,102,51911,C,https://www.dingeo.dk/adresse/2800-kongens%20l...,2800
4,Buddingevej 110,55.758719,12.494712,8750000,Villa,188,46542,D,https://www.dingeo.dk/adresse/2800-kongens%20l...,2800

# Step 2 - Data processing

In [9]:
data.dropna(inplace=True)

# Step 3 - Feauture Selection
Selecting the relevant features (variables) that we want to use for predicting the price. We exclude any columns that are not useful or not available during prediction.

In [ ]:
features = ['X', 'Y', 'Size', 'Type', 'Energy class', 'City']
target = 'Price'

# Step 4  - Split the data
Spliting the data into training and testing sets to evaluate the performance of your machine learning model. The training set will be used to train the model, and the testing set will be used to evaluate its performance.